@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }
:root::-webkit-scrollbar { width: 1rem; }
:root::-webkit-scrollbar-track { background: transparent; }
:root::-webkit-scrollbar-thumb { background: #696969; }
:root::-webkit-scrollbar-thumb:hover { background: #FF0055; }